<?xml version="1.0"?>
<model>
  <name>Rigid body load transported by 1 Iris quadrotor</name>
  <version>1.0</version>
  <sdf version='1.4'>rigid_body_load_1_vehicle.sdf</sdf>

  <author>
   <name>David Cabecinhas</name>
   <email>dcabecinhas@isr.tecnico.ulisboa.pt</email>
  </author>

  <description>
    This is a model of a rigid body load being transported by 1 Iris quadrotor.
  </description>
</model>
