<?xml version="1.0"?>
<model>
  <name>Point mass load transported by 2 Iris quadrotors</name>
  <version>1.0</version>
  <sdf version='1.4'>point_mass_load_2_vehicle.sdf</sdf>

  <author>
   <name>David Cabecinhas</name>
   <email>dcabecinhas@isr.tecnico.ulisboa.pt</email>
  </author>

  <description>
    This is a model of a point mass load being transported by 2 Iris quadrotors.
  </description>
</model>
