<?xml version="1.0"?>

<robot name="iris_rb_load" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- macros for RB load -->
  <xacro:include filename="$(arg rotors_description_dir)/urdf/slung_load.xacro" />

  <xacro:rb_load_macro
      rb_mass="0.5"
      rb_length="0.6"
      rb_width="0.4"
      rb_height="0.2"
      fake_joint_mass="1e-3"
      cable_mass="0.004"
      cable_length="1.0"
      cable_width="0.01"
      quad_mass="1.25"
      quad_length="0.3"
      quad_width="0.3"
      quad_height="0.1"
    >
    </xacro:rb_load_macro>

</robot>
